@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  display: block;
  overflow-x: hidden;
}

a {
  transition: transform .2s, opacity .2s, border-color .2s ease-in-out, color .2s ease-in-out, background-color .2s ease-in-out, opacity .2s ease-in-out;
}

* {
  boxing-size: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
